$tabsColor: white;

.tabs {
    width: 360px;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    user-select: none;

    .tabs-selected {
        height: 3px;

        border-radius: 10px;

        position: absolute;
        top: 41px;

        background: $tabsColor;

        transition: 0.3s ease-in-out;
    }

    .tabs-tab {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        cursor: pointer;

        .tabs-tab-icon {
            display: flex;

            align-items: center;
            justify-content: flex-end;
        }

        .tabs-tab-icon > * {
            height: 20px;
        }

        .tabs-tab-title {
            text-align: left;

            padding-left: 10px;

            font-size: 13pt;
            font-weight: 800;
            font-family: "europa", sans-serif;
            color: $tabsColor;
        }
    }
}
